:root {
    --light-color-pr: rgb(255, 255, 255);
    --light-color-sd: rgb(0, 170, 255);

    --project-color: rgb(164, 23, 240);
    --milestone-color: rgb(240, 23, 23);
    --task-color: rgb(35, 190, 35);
    --subtask-color: rgb(251, 231, 17);
    --optional-task-color: rgb(45, 122, 255);
}

*, *::after, *::before 
{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

html
{
    font-size: 10px;
}

body 
{
    margin: 1rem;
    font-size: 1.5rem;
}

/* Parameters */

.flex-col 
{
    display: flex;
    flex-direction: column;
}

/* Main Window */

.main-wd 
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 0 2rem;
    gap: 5rem;
}

.left, .right, .middle 
{
    align-items: center;
}

.left 
{
    gap: 5rem;
}

/* Legend */

.legend 
{
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--light-color-pr);
    filter: drop-shadow(1px 1px 4px rgba(182, 182, 182, 0.5));
}

ul.labels 
{
    padding: 0;
    list-style-type: none;
    gap: 1rem;
}

.labels .group 
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.labels .group div
{
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.labels .group p
{
    text-align: start;
    margin: 0;
}

.labels .purple 
{
    background-color: var(--project-color);
}

.labels .red 
{
    background-color: var(--milestone-color);
}

.labels .green 
{
    background-color: var(--task-color);
}

.labels .yellow 
{
    background-color: var(--subtask-color);
}

.labels .blue 
{
    background-color: var(--optional-task-color);
}

/* Header */

.project-info 
{
    justify-content: center;
    align-items: center;
}

.project-info #title 
{
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    padding: 2rem 0;
    outline: 1px solid rgb(0, 0, 0);
    margin: 3rem 0 1rem 0;
    transition: .25s ease-in-out;
}

.project-info #title:focus, .project-info #pgm-name:focus 
{
    outline: 1px solid var(--light-color-sd);
}

.project-info #pgm-name 
{
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .25rem;
    /* outline: 1px solid rgb(0, 0, 0); */
}

/* NavBar */

.navbar 
{
    width: 5rem;
    gap: 2rem;
    padding: 1.5rem 3rem;
    margin-top: 5rem;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px rgba(182, 182, 182, 0.5);
}

.navbar button 
{
    background-color: transparent;
    border: none;
    outline: none;
    width: 4rem;
    height: 4rem;
}

.navbar img
{    
    transition: .25s ease-in-out;
}

.navbar img:hover 
{
    transform: scale(1.1);
}

/* Tasks Dashboard */

.middle 
{
    display: flex;
    gap: 3rem;
}

.task-module 
{
    /* box-shadow: 1px 1px 4px rgba(182, 182, 182, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
}

.milestone .task-module {
    border: 2px solid var(--milestone-color);
}

.task .task-module {
    border: 2px solid var(--task-color);
}

.subtask .task-module {
    border: 2px solid var(--subtask-color);
}

.optional .task-module {
    border: 2px solid var(--optional-task-color);
}

.project-scope 
{
    min-width: 10rem;
    height: 10rem;
    border: 3px solid var(--project-color);
}

.middle .container 
{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

.path-module 
{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.path-module .package 
{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.package li {
    list-style-type: none;
}

/* Task Info */

.task-info 
{
    text-align: center;
    transition: .25s ease-in-out;
    text-decoration: underline;
}

.task-info:hover 
{
    color: var(--light-color-sd);
}